* {
    margin: 0;
    padding: 0;
}

body {
    background: url("/as//resources/images/bg_code.jpg") center center no-repeat fixed;
    background-size: cover;
}

html, body, #wrapper {
    height: 100%;
}


.dark-line {
    text-align: center;
    color: wheat;
    padding: 0.5em 0;
    background: rgba(0, 0, 0, 0.8);
    overflow: hidden;
}

.dark-line h3{
    float: right;
    margin-right: 10px;
}

#wrapper {
    display: grid;
    grid-template-areas: "h" "m" "f";
    grid-template-rows: auto 1fr auto;
}

.as-bg-rgba-dark{
    background: rgba(0,0,0,0.7);
}

header {
    grid-area: h;
}

main {
    grid-area: m;
}

footer {
    grid-area: f;
}

main #view {
    max-width: 1000px;
    margin: 55px auto 0 auto;
    background: rgba(0,0,0,0.3);
    color: white;
    padding: 20px;
}

.menu-active{
    background: rgba(0,0,0,0.5);
    color: white !important;
}
.nav-item > a.menu-active:focus, .nav-item > a.menu-active:hover{
    color: white !important;
    text-shadow: 0px 0px 5px white !important;
}

.row-new-form{
    display: none;
}

.text-wheat{
    color: wheat;
}

a.text-wheat:focus, a.text-wheat:hover{
    text-shadow: 0px 0px 5px wheat;
    color: wheat;
}

@media (max-width: 992px) {

    #menu-top-mobile-icon {
        display: block;
        width: 40px;
        float: left;
    }

    #menu-top-mobile-icon hr {
        height: 2px;
        color: wheat;
        background: wheat;
        border-radius: 10px;
        margin-top: 2px;
        padding: 0px;
        margin: 8px 0;
    }

    .navbar-toggler{
        padding: 0;
        border: 0;
    }

}